body{
  background-color: #003333;
  margin-left: 200px;
  margin-right: 200px;
}
header{
  height: 70px;
}
h1,p,.box2,.r,#forgot,#logo{
  font-family: 'Varela Round', sans-serif;
}
#logo{
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}
h1{

}
span{

}
.box1{
  float: left;
  color: white;
}
.box2{
  float: right;
  padding-top: 30px;
  font-size: 20px;
  color: white;
}
/* .subbox{
  float: left;
} */
.mainbox{
  color: white;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}

img{
  width: 40px;
  height: 25px;
  float: left;
}
.en{
  float: right;
}
.class{
  padding: 0 30px 0 30px;
}
#forgot{
  color: #00ff00;
  float: right;
  padding-top: 6px;
}
#forgot:hover,#login{
  cursor: pointer;
}
#log{
  margin-bottom: 20px;
  background-color: #595959;
  color: #999999;
  border: none;
  width: 220px;
  opacity: 0.5;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
}
#password{
  background-color: #595959;
  color: #999999;
  border: none;
  width: 220px;
  opacity: 0.5;
  padding: 15px 15px 15px 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
}
#login{
  background-color: #00ff00;
  border: none;
  padding: 15px 15px 15px 15px;
  border-radius: 10px 10px 10px 10px;
  color: white;
  width:220px;

}
.form{
  padding: 0 60px 0 60px;

}

#rf{
  font-weight:lighter;
  font-size: 10px;
  text-align: left;
}
