body{
  background-image: url('C:/Users/AbdMalik/Desktop/Web_Designs/Images/alexander-popov-et_YVbywv80-unsplash1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#pagetitle{
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 50px;
}
h2, h3{
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 5px;
}
h2{
  font-weight: normal;
}
h3{
  font-weight: lighter;
  font-size: 14px;
  padding: 0;
}
h4{
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: lighter;
}
p{
  font-family: 'PT Sans', sans-serif;
}
.mainbox{
  /* top | right | bottom | left */
  margin: 100px 100px 100px 100px;
}
.subbox1{
  width: 309px;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.5; */


  /* top | right | bottom | left */
  padding: 15px 60px 70px 60px;
  margin: 0;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 0px 10px 0px black;
  z-index: 2;
  position: absolute;
}
.subbox3{
  margin: 0;
  color: white;
  padding-bottom: 20px;
}
.subbox4{
  color: white;
}
.subbox-content{
  color: white;
  margin-top: 250px;
  margin-left: 450px;
  margin-right: 70px;
}

.subbox-content #strong{
  color: #007399;
}
.subbox2{
  width: 600;
  height: 410px;
  float: right;
  background-image: url('C:/Users/AbdMalik/Desktop/Web_Designs/Images/alexander-popov-et_YVbywv80-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* top | right | bottom | left */
  padding: 0 40px 40px 40px;
  margin: 0;
  z-index: 1;
  /* position: absolute; */
}
span{
  color: #007399;
  float: right;
}
span:hover{
  cursor: pointer;
}
#name{
  background-color: #595959;
  color: #999999;
  border: none;
  width: 100%;
  opacity: 0.5;
  padding: 10px 0px 10px 10px;
  border-radius: 3px 3px 3px 3px;
}
#password{
  background-color: #595959;
  color: #999999;
  border: none;
  width: 100%;
  opacity: 0.5;
  padding: 10px 0px 10px 10px;
  margin-bottom: 15px;
  border-radius: 3px 3px 3px 3px;
}
#login{
  background-color: #00ace6;
  border: none;
  width: 319px;
  padding: 10px 10px 10px 10px;
  color: white;
  border-radius: 3px 3px 3px 3px;
}
#login:hover, #button:hover{
  cursor: pointer;
}
#button{
  background: none;
  border-color: white;
  border-bottom-color: white;
  border-right-color: white;
  color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 3px 3px 3px 3px;
  font-size: 15px;
}
